body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div button{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap:20px;
    
}
